@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("http://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

body {
  position: relative;
  color: black;
  background: url("../images/90sSeamless.jpg");
}
 
* {
  font-family: "Luckiest Guy";
  font-size: 40px;
  letter-spacing: 3px;
}

.title {
  position: relative;
  margin: 0;
  font-family: "Metal Mania", sans-serif;
  font-size: 200px;
  font-style: italic;
  line-height: 1;
  background-image: linear-gradient(#378dbc 0%, #b6e8f1 46%, #fff 50%, #ffc488 58%, #582c11 90%, #ec9b4e 100%);
  background-clip: text;
  -webkit-text-stroke: 4px #f5f5f5;
  -webkit-text-fill-color: transparent;
}

.title::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 300px;
  background-image: linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position: -680px 0;
  background-clip: text;
  animation-name: chrome_effect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-text-stroke: 0;
}

.subTitle {
  position: float;
  padding-top: 45px;
  z-index: 20;
  margin: 0;
  margin-top: -120px;
  margin-left: 400px;
  font-family: "Titan One", cursive;
  font-size: 120px;
  color: #f975f7;
  filter: drop-shadow(2px 2px 20px #f008b7);
  transform: rotate(-15deg);
  -webkit-text-stroke: 1px #f008b7;
}

.windows .subTitle {
  -webkit-text-stroke: 4px #f008b7;
}



