@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url("http://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

body {
  position: relative;
  color: #fff;
  background: #000;
}
 
* {
  font-family: "Luckiest Guy";
  font-size: 20px;
  letter-spacing: 3px;
}


